@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree";
}

h1, h3, h5 {
    font-weight: 600;
    color:rgb(85, 83, 83);
}

p {
    color:darkgrey;
}


/* Hero Section  */
#hero {
    padding: 5% 25%;
}

.hero {
    margin: 8% 0 0;
}

.hero img {
    width: 12%;
}


/* Snippets Section  */
#snippets {
    padding: 7% 25%;
}


/* Desktop Section  */
#desktop {
    padding: 2% 0;
}

.desktop img {
    position: relative;
    right: 28%;
}

.desktop-content {
   position: relative;
   right: 10%;
}


/* Clipboard Section  */
#clipboard {
    padding: 7% 0;
}


/* Workflow Secton  */
#workflow {
    padding: 5% 10%;
}


/* Download Section  */
#download {
    padding: 5% 25%;
}


/* Footer Section  */
footer {
    padding: 3%;
}